
*{
  margin:0px;
    padding:0px;
}
body{
    height: 100vh;
    width:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.all-container{
    height:100vh;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
    height:20px;
  width:auto;
  padding: 10px;
}
a:hover{
  
  border-radius: 20px;
  background:rgb(0, 126, 128);


}
#para{
    color:rgb(0, 126, 128);
   
}
.container{
    height:70%;
    width: 100%;
    background-image: url("images/image1.jpg");
    background-position: center;
    background-size: cover;
}
.header-all{
    height:12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header{
    height: auto;
    width: 95%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.all{
    height: auto;
    width:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:50px;
}
.all-para{
    height:auto;
    width: 100%;
    
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top:160px;

}
.all-para h1{
    font-size:35px;
}
.para1-content{
    height:200px;
    width:500px;
    background-color:silver;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.para1-content h1{
    font-weight: 300;
}
.contact-content{
    height:auto;
    width:60%;
    background-color:#2A3439;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}
.image{
    height: 200px;
    width:500px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact{
    height:410px;
    width:auto;
    display: grid;
    place-content:space-between;
}
.contact1{
    height:auto;
    width:500px;
    display: grid;
    grid-template-columns:200px 200px;
    gap:50px;
}
.all-contact{
    height:550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(to bottom right,#8DE9D5,#32C4C0);


}
.forme{
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    color:rgb(0, 126, 128);

}
.cent{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
 
}
.cent p{
    font-size:15px;
}
.cent h1{
    color:rgb(0, 126, 128);

}
.formulaire{
    height:700px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    height:500px;
    width:450px;
    background:linear-gradient(to bottom right,#8DE9D5,#32C4C0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:100px;
    border-radius: 5px;
    padding: 20px;
     box-shadow: 0.5px 0.5px 9px 0px #b5b0b0;


}
.div1{
    height:50px;
    width:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div1 input{
    height:20px;
    width: 300px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.div2{
    height:50px;
    width:350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div2 input{
    height:20px;
    width:300px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.div3{
    height:50px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.div3 input{
    height:20px;
    width:363px;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}
button{
    height:35px;
    width:200px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color:gray;
    font-weight:500;

}
button:hover{
    height: auto;
    width: 200px;
    background-color: rgba(95, 158, 160, 0.364);
    color: white;
}
.div3 label{
    display: block;
    margin-bottom: 10px;

}
textarea{
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 2px solid #ccc;
    outline: none;

}
footer{
    height:80px;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}
.footer-content{
    height:50px;
    width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
}



