*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.all-container{
    height:100vh;
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
    height:40px;
  width:auto;
  padding: 10px;


}
a:hover{
  
  border-radius: 20px;
  background:rgb(0, 126, 128);

}
#para{
    color:rgb(0, 126, 128);
   
}
.container{
    height:70vh;
    width: 100%;
    background-image: url("images/image6.jpg");
    background-position: center;
    background-size: cover;
}
.header-all{
    height:12%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.header{
    height: auto;
    width: 95%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.all-para{
     height:300px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:300px;
}
.all{
    height: auto;
    width:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    gap:50px;
}
.para1-content{
     height:200px;
    width:650px;
    padding:10px;
    background-color:silver;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.para1-content p{
    text-align: center;
    color:black;
    font-size:20px;
    text-align: justify;
    font-weight: 300;
}
.para1-content h1{
    font-weight: 400;
}
.image img,.image1 img,.image2 img,.image3 img,.image4 img,.image5 img{
    height: 200px;
    width: 200px;
    border-radius:50%;
    object-fit: cover;
    overflow: hidden;
}
.image,.image1,.image2,.image3,.image4,.image5{
    height: auto;
    width: auto;
    background-color:rgb(0, 126, 128);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;

}
.image p,.image1 p,.image2 p,.image3 p,.image4 p,.image5 p{
    color: white;
    font-weight: 300;

}
.image-content{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container3{
    height: 400px;
    width:100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}
.container3 p{
    line-height: 1.5;
    color:black;
    font-weight: 300;
}
.container3 h2{
    font-weight: 400;
    color:rgb(0, 126, 128);
   
}
footer{
    height:80px;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}
.footer-content{
    height:50px;
    width:500px;
    display: flex;
    justify-content: center;
    align-items: center;
}