*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.all-container{
    height:100vh;
    width: 100%;
    /* background-color: green; */
}
a{
    text-decoration: none;
    color: white;
    height:40px;
  width:auto;
  padding: 10px;


}
a:hover{
  
  border-radius: 20px;
  background:rgb(0, 126, 128);

}
#para{
    color:rgb(0, 126, 128);
   
}
.container{
    height:70%;
    width: 100%;
    background-image: url("images/image02.jpg");
    background-position: center;
    background-size: cover;
    /* background-color: deeppink; */
}
.header-all{
    height:12%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.header{
    height: auto;
    width: 95%;
    /* background-color:green; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.all{
    height: auto;
    width:auto;
    /* background-color: red; */
    justify-content:center;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    gap:40px;
}
 .all-para{
    height:300px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    position: absolute;
    top: 130px;

}
/* .all-para h1{
    font-size:35px;
} */ 
.para1-content{
    height:200px;
    width:490px;
    /* background-color: aqua;  */
    background-color: silver;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
  
}
.para1-content h1{
    font-weight: 400;
}
.content{
    height:400px;
    /*width:100%;*/
     background:linear-gradient(to bottom right,#8DE9D5,#32C4C0);
    display: flex;
    justify-content: center;
    align-items: center; 
} 
/* .access h3{
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px;

} */
  .access{
    height:300px;
    width:100%;
    height: 300px;
    background-color: white;
    /* background-color:green; */
     display: flex;
     justify-content: center;
     align-items: center;
     /* background-color:rgb(0, 126, 128); */
     /* background-color: red; */
    /* text-align: center; */
    /* place-content: center; */
}
 .access h2{
    text-align: center;
    font-weight: 400;
} 
.access h1{
    color:rgb(0, 126, 128);
    
} 
.image img,.image1 img,.image2 img,.image3 img,.image4 img,.image5 img,.image6,.image7,.image8,.image9{
    height: 100px;
    width: 100px;
    background-color: #2A3439;
    border-radius: 50%;
    object-fit: cover;
   
}

.partenaire{
    height: 300px;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}
.cont-part{
    height: auto;
    width: 100%;
    /* background-color:#2A3439; */
    padding:15px;
}
.cont-part h3{
    color:black;
    text-align: center;
    height:auto;
    padding: 10px;
    font-weight: 300;

}
.bcb img,.savonor img,.doffy{
    height:280px;
    width:280px;
    object-fit: cover;
    overflow: hidden;
    /* background-color: red; */
    /* background-color: whitesmoke; */
}
.image9{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
/* .image{
    position: absolute;
    left:230px;
    box-shadow: 5px 5px white;
} */
 .all-content{
    height: 600px;
    width: 100%;
    /* background-color: burlywood; */
    background-color: whitesmoke;
 }
 .all-slogan{
    height:350px;
    width: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    justify-content: space-around;
    align-items: center;
 }
 .slogan-one,.slogan-two,.slogan-three{
    height:130px;
    width:300px;
    /* background-color: #32C4C0; */
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .slogan-one p,.slogan-two p,.slogan-three p{
    font-weight: 300;
 }
 .slogan-one h1,.slogan-two h1,.slogan-three h1{
    font-size:40px;
    font-weight: 400;
    color: #32C4C0;
 }
.slogan h1{
    font-weight: 400;
}
.slogan{
    height:100px;
    width: 100%;
    padding:5px;
    /* background-color: darkmagenta; */
}
.collabore{
    height:150px;
    width: 100%;
    /* background-color: coral; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}.collabore p{
    text-align: center;
    font-weight: 300;
}
.collabore h1{
   border-bottom: 2px solid silver;
   height:50px;
   font-weight: 400;
}
footer{
    height:80px;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}
.footer-content{
    height:50px;
    width:500px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}