*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.all-container{
    height:100vh;
    width: 100%;
    /* background-color: green; */
}
a{
    text-decoration: none;
    color: white;
    height:40px;
  width:auto;
  padding: 10px;


}
a:hover{
  
  border-radius: 20px;
  background:rgb(0, 126, 128);

}
#para{
    color:rgb(0, 126, 128);
   
}
.container{
    height:65%;
    width: 100%;
    background-image: url("images/image9.jpg");
    background-position: center;
    background-size: cover;
    /* background-color: deeppink; */
}
.header-all{
    height:12%;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.header{
    height: auto;
    width: 95%;
    /* background-color:green; */
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.all{
    height: auto;
    width:auto;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    gap:50px;
}
/* .content{
    height: 300px;
    width:360px;
    /* background-color: #32C4C0; */
    /* display: flex; */
    /* flex-direction: column; */
    /* padding: 5px; */
    /* gap: 20px; */
/* }  */
 .all-para{ 
    height:280px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content:center;
    align-items: center; 
    /* padding: 10px; */
    flex-direction: column;
    position: absolute;
    top:105px;
     /* gap:10px; */
 } 
 /* .para1-content{ */
    /* height:200px;
    width:350px; */
    /* background-color:whitesmoke; */
    /* display: flex; */
    /* justify-content:center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* padding: 5px; */
    /* text-align: center; */
    /* line-height: 1.5; */
    /* margin-bottom: 100px; */
/* } */
.para1-content p{
    color:black;
    font-size:30px;
    text-align: center;
    font-weight: 300;

}
.para1-content h1{
    text-align: center;
    font-weight: 400;
}
.para1-content{
    height: 150px;
    width:550px;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
  .content2{
    height:100px;
    width:300px;
    /* background-color:brown; */
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 10px;
} 
.content2 p{
   height:auto;
   width:500px;
   text-align: justify;
   font-size:17px;
    /* color:rgb(0, 126, 128); */
    color:white;
   
}
.propos-content{
    height:60%;
    width: 100%;
    /* background:rgb(0, 126, 128); */
    background-color:whitesmoke;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.historique{
    height:500px;
    width:100%;
    /* border: 1px solid black; */
    line-height: 1.5;
    text-align:justify;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* flex-direction: column; */
    border-radius:10px;
    background-color: whitesmoke;

    /* gap:5px; */
    /* padding: 10px; */
    /* background:linear-gradient(to bottom right,#8DE9D5,#32C4C0); */
    
}
.titre1 p,.titre2 p,.titre3 p{
     height: 400px;
     width: 400px;
     text-align: justify;
     font-size:20px;
     font-weight:310;

}
.titre1,.titre2,.titre3{
    height: 400px;
    width:420px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* align-items: center; */
    padding:10px;
}

/* .mission h1{
    height: 300px;
} */
 .mission{
    height:500px;
    width:100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    line-height: 1.5;
    text-align: justify;
    padding:12px;
    background-color: whitesmoke;
    /* border-radius:10px; */
    /* background:linear-gradient(to bottom right,#8DE9D5,#32C4C0); */

 }
 .vision{
    height:500px;
    width:100%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    line-height: 1.5;
    text-align: justify;
    padding:12px;
    background-color: whitesmoke;
    /* border-radius:10px; */
    /* background:linear-gradient(to bottom right,#8DE9D5,#32C4C0); */

 }
 .titre1 h1,.titre2 h1,.titre3 h1{
    color:#32C4C0;
    font-weight: 400;
    
 }

 .consert{
    height: 400px;
    width: 100%;
    background-color:whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
 }
 .consert p{
    color: #32C4C0;
    font-size: 20px;
 }
 .consert h1{
    font-size:35px;
    font-weight: 400;
 }

 .image img,.image1 img,.image2 img{
  height: 400px;
  width:550px;
  border-radius:20px;
 }
 .footer-content{
    height:50px;
    width:500px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    height:80px;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}